{% extends 'SecureBundle::layout.html.twig' %}

    {% block title %}{{ 'Homepage' | trans }}{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div  class="col-xs-4">
                    <div>{{ user | avatar | raw }}</div>
                    <p>{{ user.login }}</p>
                    <hr style="border:solid 1px black">
                    <p>Ваш ID - {{ user.id }}</p>
                    <hr style="border:solid 1px black">
                    <p>Компании: </p>
                    {% for company in user.companies  %}
                        <li><a href="{{ path('secure_company_info', {companyId: company.id}) }}">{{ company.name }}</a></li>
                    {% endfor %}
                    <hr style="border:solid 1px black">
                    <p>Ваш баланс: {{ user.account }} руб.</p>
                    <hr style="border:solid 1px black">
                    <p>Ваш статус - {{ userRole }}</p>
                    <hr style="border:solid 1px black">
                    <p>Вход в систему - {{ whenLoginDate }}</p>
                    <hr style="border:solid 1px black">
                    <p>Осталось в системе - {{ remainingTime }}</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts_footer %}
        {{ parent() }}
    {% endblock %}