{% extends 'SecureBundle::layout.html.twig' %}

{% set type = order.status.code %}

{% block title %}{{ 'Просмотр заказа' | trans }} {{  order.id }}{% endblock %}
    {% block content %}
        <div class="col-md-6 col-md-offset-3">
            <div id="block-about-order">
                <ul>
                    <li class="block-num">Номер заказа: {{ order.id }}</li>
                    <li class="block-theme">Тема работы: {{ order.theme }}</li>
                    <li class="block-task">Задание: {{ order.task }}</li>
                    <li>Объем заказа: {{ order.countsheet | countSheet }}</li>
                    <li>Оригинальность заказа: {{ order.originality | percent }}</li>
                    <li>Предмет: {{ order.subject.name }}</li>
                    <li>Тип заказа: {{ order.type.name }}</li>
                    <li class="dynamic-block-order-status">Статус заказа: <span>{{ order.status.name }}</span></li>
                    <li>Дата создания: {{ order.datecreate | defaultDateFormat }}</li>
                    <li>ВУЗ: {{ order.hei | noData }}</li>
                    <li>Заказчик: {{ order.user | avatar | raw }}</li>

                    <div class="dynamic-block-order-info">
                        {% if type == statusOrderNew or type == statusOrderWork or type == statusOrderAuction or type == statusOrderRefining %}
                            <li>Выполнение до: {{ order.dateexpire | defaultDateFormat }}</li>
                            <li>На выполнение осталось: {{ order.remainingExpire }}</li>
                        {% endif %}
                        {% if type == statusOrderGuarantee %}
                            <li>На гарантии с: {{ order.dateComplete | defaultDateFormat }}</li>
                            <li>На гарантии до: {{ order.dateGuarantee | defaultDateFormat }}</li>
                            <li>На гарантии осталось: {{ order.remainingGuarantee }}</li>
                        {% endif %}
                        {% if type == statusOrderCompleted %}
                            <li>В работе с: {{ order.dateConfirm | defaultDateFormat }}</li>
                            <li>Завершен: {{ order.dateComplete | defaultDateFormat }}</li>
                            <li>Затрачено дней: {{ order.spentDays }}</li>
                        {% endif %}
                        {% if type == statusOrderAssigned %}
                            <li>Выполнение до: {{ order.remainingExpireWithDays | defaultDateFormat }}</li>
                            <li>Цена: {{ order.selectedBid.sum | price }}</li>
                            <li>Срок: {{ order.selectedBid.day | day }}</li>
                            <li>Дата оценки: {{ order.selectedBid.dateBid | defaultDateFormat }}</li>
                            <li>В срок заказчика: {{ order.selectedBid.isClientDate }}</li>
                        {% endif %}
                        {% if type == statusOrderRefining %}
                            <li>Доработка до: {{ order.dateRefining | defaultDateFormat }}</li>
                            <li>На доработку осталось: {{ order.remainingRefining }}</li>
                        {% endif %}
                        {% if type == statusOrderWork %}
                            <li>В работе с: {{ order.dateConfirm | defaultDateFormat }}</li>
                        {% endif %}
                    </div>
                </ul>
            </div>
            <div>
                {% include 'SecureBundle:User/partials:orderFiles.html.twig' with {'order': order} %}
            </div>
        </div>
        {% if type == statusOrderNew or type == statusOrderAuction %}
            <div>
                {% include 'SecureBundle:User/partials:orderBids.html.twig' with {'bidsData': bidsData} %}
            </div>
            <div>
                {% include 'SecureBundle:User/partials:orderBidForm.html.twig' with {'formBid': formBid} %}
            </div>
        {% endif %}
        {% if type == statusOrderNew or type == statusOrderAuction or type == statusOrderAssigned %}
            <div>
                {% include 'SecureBundle:User/partials:orderUserBids.html.twig' with {'bidsData': bidsData} %}
            </div>
        {% endif %}
        {% if type == statusOrderAssigned %}
            <div>
                {% include 'SecureBundle:User/partials:confirmBidForm.html.twig' with {'formConfirmBid': formConfirmBid} %}
            </div>
        {% endif %}
        <div>
            {% include 'SecureBundle:User/partials:orderStages.html.twig' with {'stagesData': order.stages } %}
        </div>
        {% if type == statusOrderWork or type == statusOrderGuarantee or type == statusOrderRefining %}
            <div class="col-md-8" id="block-completed-order">
                <form method="post" name="form-completed-order" id="form-completed-order" action="/symfony_system/web/app_dev.php/_uploader/gallery/upload">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="is-ready-order" id="is-ready-order" {% if type == statusOrderGuarantee %} checked disabled {% endif %}>Заказ выполнен
                        </label>
                    </div>
                    <div class="">
                        {% include 'SecureBundle:User/partials:stageOrderForm.html.twig' with {'formStageOrder': formStageOrder} %}
                    </div>
                    <div id="uploader">
                        <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                    </div>
                    <br/>
                </form>
                <div class="js-var" data-order-id="{{ order.id }}"></div>
            </div>
        {% endif %}
    {% endblock %}

    {% block javascripts_footer %}
        {{ parent() }}
        {#<script type="application/javascript" src="{{ asset('js/order.js') }}"></script>#}
        {#<script type="application/javascript" src="{{ asset('js/price-format.js') }}"></script>#}
        {% javascripts
        '@SecureBundle/Resources/public/js/jquery-3.3.1.min.js'
        '@SecureBundle/Resources/public/js/browser-plus.js'
        '@SecureBundle/Resources/public/js/jquery-ui.min.js'
        '@SecureBundle/Resources/public/js/plupload.full.min.js'
        '@SecureBundle/Resources/public/js/jquery.plupload.queue.js'
        '@SecureBundle/Resources/public/js/jquery.ui.plupload.min.js'
        '@SecureBundle/Resources/public/js/script.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link href="{{ asset('bundles/secure/css/jquery.plupload.queue.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
