{% extends 'UserBundle::layout.html.twig' %}

{% set type = order.status.code %}

{% block title %}{{ 'Просмотр заказа' | trans }} {{  order.id }}{% endblock %}
    {% block content %}
        <div class="col-md-6 col-md-offset-3">
            <div id="block-about-order">
                <ul>
                    <li class="block-num">Номер заказа: {{ order.id }}</li>
                    <li class="block-theme">Тема работы: {{ order.theme }}</li>
                    <li class="block-task">Задание: {{ order.task }}</li>
                    <li>Объем заказа: {{ order.countsheet }} стр.</li>
                    <li>Оригинальность заказа: {{ order.originality }}%</li>
                    <li>Предмет: {{ order.subject.name }}</li>
                    <li>Тип заказа: {{ order.type.name }}</li>
                    <li>Статус заказа: {{ order.status.name }}</li>
                    <li>Дата создания: {{ order.datecreate | date('d.m.Y H:i') }}</li>

                    {% if type == statusOrderNew or type == statusOrderWork or type == statusOrderAssigned or type == statusOrderAuction %}
                        <li>Выполнение до: {{ order.dateexpire | date('d.m.Y H:i') }}</li>
                        <li>На выполнение осталось: {{ order.remainingExpire }}</li>
                    {% elseif type == statusOrderGuarantee %}
                        <li>На гарантии с: {{ order.dateGuarantee | date('d.m.Y H:i') }}</li>
                        <li>На гарантии до: {{ order.dateComplete | date('d.m.Y H:i') }}</li>
                        <li>На гарантии осталось: {{ order.remainingGuarantee }}</li>
                    {% elseif type == statusOrderCompleted %}
                        <li>В работе с: {{ order.dateConfirm | date('d.m.Y H:i') }}</li>
                        <li>Завершен: {{ order.dateComplete | date('d.m.Y H:i') }}</li>
                        <li>Затрачено дней: {{ order.spentDays }}</li>
                    {% endif %}

                    <li>Заказчик: <div>{{ order.user.rawavatar | raw }}</div>{{ order.user.login }}</li>
                </ul>
            </div>
            <div>
                {% include 'UserBundle:User/partials:orderFiles.html.twig' with {'order': order} %}
            </div>
        </div>
        {% if type == statusOrderNew or type == statusOrderAuction %}
            <div>
                {% include 'UserBundle:User/partials:orderBids.html.twig' with {'bidsData': bidsData} %}
            </div>
            <div>
                {% include 'UserBundle:User/partials:orderBidForm.html.twig' with {'formBid': formBid} %}
            </div>
        {% endif %}
         {% if type == statusOrderNew or type == statusOrderAuction %}
             <div>
                 {% include 'UserBundle:User/partials:orderUserBids.html.twig' with {'bidsData': bidsData} %}
             </div>
         {% endif %}
    {% endblock %}

{#
    {% block javascripts_footer %}
        {{ parent() }}
        <script type="application/javascript" src="{{ asset('js/order.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/price-format.js') }}"></script>
    {% endblock %}#}
