{% extends 'SecureBundle::layout.html.twig' %}

{% block title %}{{ 'My profile' | trans }}{% endblock %}

{% block content %}
    {#   <link href="{{ asset('bundles/css/window.css') }}" rel="stylesheet" />
       <link href="{{ asset('bundles/css/select2.css') }}" rel="stylesheet" />
       <script type="text/javascript" src="{{ asset('bundles/js/bootstrap-maxlength.min.js') }}"></script>
       <script type="text/javascript" src="{{ asset('bundles/js/select2.min.js') }}"></script>#}
    <div class="container">
        <div class="row">
            <div  class="col-xs-5 col-xs-offset-4">
                {#<p>{{ user.rawavatar | raw }}</p>#}
                <p>ID: {{ user.id }}</p>
                <hr style="border:solid 1px black">
                <p>Ник: {{ user.login }}</p>
                <hr style="border:solid 1px black">
                <p>Email: {{ user.email }}</p>
                <hr style="border:solid 1px black">
                <p>Skype: {{ user.userInfo.skype | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Имя: {{ user.userInfo.userName | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Фамилия: {{ user.userInfo.surName | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Отчество: {{ user.userInfo.lastName | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Номер мобильного телефона: {{ user | mobileNumber | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Номер стационарного телефона: {{ user.userInfo.staticPhone | defaultStringData }}</p>
                <hr style="border:solid 1px black">
                <p>Статус: {{ userRole }}</p>
                <hr style="border:solid 1px black">
                <p>Дата регистрации в системе: {{ user.datereg | defaultDateFormat }}</p>
                <hr style="border:solid 1px black">
                <p>Страна: {{ user | country | raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                {{ form_start(formProfile, {'attr': {'id' : 'formProfile'}}) }}
                <div class="form-group">
                    {#<p id="user-avatar">{{ user.rawavatar | raw }}</p>#}
                    {{ form_start(formProfile) }}
                   {# <div class="input-group form-group">
                        <label for="btn-change-avatar" class="btn btn-success"><span class="icon-trash-1">&nbspИзменить</span></label>
                        <input type="button" id="btn-change-avatar" class="hidden">
                    </div>#}
                    <div id="block-change-avatar" style="display: none">
                        <div id="block-upload-avatar" style="display: none">
                            {#{% include "PunkAveFileUploaderBundle:Default:upload_avatar_template.html.twig" %}#}
                            <div class="input-group">
                                <div class="file-uploader-avatar"></div>
                            </div>
                        </div>
                        <div id="block-choose-man-avatar" style="display: none">
                            <p><img src='/study/web/uploads/avatars/default_m.jpg' align='middle' alt='Мужской аватар' width='100px' height='auto' class='thumbnail'></p>
                        </div>
                        <div id="block-choose-woman-avatar" style="display: none">
                            <p><img src='/study/web/uploads/avatars/default_w.jpg' align='middle' alt='Мужской аватар' width='100px' height='auto' class='thumbnail'></p>
                        </div>
                        {{ form_label(formProfile.selectorAvatarOptions) }}
                        {{ form_errors(formProfile.selectorAvatarOptions) }}
                        <div class="input-group">
                            {{ form_widget(formProfile.selectorAvatarOptions) }}
                        </div>
                    </div>
                    {{ form_label(formProfile.userName) }}
                    {{ form_errors(formProfile.userName) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.userName) }}
                    </div>
                    {{ form_label(formProfile.surName) }}
                    {{ form_errors(formProfile.surName) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.surName) }}
                    </div>
                    {{ form_label(formProfile.lastName) }}
                    {{ form_errors(formProfile.lastName) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.lastName) }}
                    </div>
                    {{ form_label(formProfile.skype) }}
                    {{ form_errors(formProfile.skype) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-skype-1"></i></span>
                        {{ form_widget(formProfile.skype) }}
                    </div>
                    {% block form_mobile_tel %}
                        {{ form_label(formProfile.mobilePhone) }}
                        {{ form_errors(formProfile.mobilePhone) }}
                        {{ form_errors(formProfile.country) }}
                        <div class="row">
                            <div class="form-group col-xs-3">
                                <div class="input-group">
                                    {{ form_widget(formProfile.country) }}
                                </div>
                            </div>
                            <div class="form-group col-xs-9 reset-padding">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-mobile-alt"></i></span>
                                    {{ form_widget(formProfile.mobilePhone) }}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {{ form_label(formProfile.staticPhone) }}
                    {{ form_errors(formProfile.staticPhone) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-phone-3"></i></span>
                        {{ form_widget(formProfile.staticPhone) }}
                    </div>
                    {{ form_label(formProfile.bic) }}
                    {{ form_errors(formProfile.bic) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.bic) }}
                    </div>
                    {{ form_label(formProfile.account) }}
                    {{ form_errors(formProfile.account) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.account) }}
                    </div>
                    {{ form_label(formProfile.dateBirthday) }}
                    {{ form_errors(formProfile.dateBirthday) }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="icon-fontsize-1"></i></span>
                        {{ form_widget(formProfile.dateBirthday) }}
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-success">{{ 'Сохранить' | trans }}</button>
                        <button type="submit" class="btn btn-default">{{ 'Отмена' | trans }}</button>
                    </div>
                </div>
                {{ form_end(formProfile) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            var fileWrapper = $('.file-wrapper'),
                fileInfo = fileWrapper.find('.file-info'),
                fileButtons = fileWrapper.find('.file-buttons');

            $('#file-uploader').fileupload({
                //url: 'server/php/',
                dataType: 'json',
                autoUpload: false,
                //acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                //maxFileSize: 999000,
                // Enable image resizing, except for Android and Opera,
                disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
                previewMaxWidth: 100,
                previewMaxHeight: 100,
                previewCrop: true,
                limitMultiFileUploads: 1,
                messages: {
                    unknownError: 'Unknown error'
                },
                add: function (e, data) {
                    //console.log(data.files);
                    var fileData = data.files[0];
                    fileInfo.find('#file-name').empty().append(fileData.name);
                    fileInfo.find('#file-size').empty().append(formatFileSize(fileData.size));
                    fileButtons.find('#btn-start').off('click').on('click', function (e) {
                        e.preventDefault();
                        data.submit();
                    })
                },
                done: function (e, data) {
                    console.log(data.result);
                },
                progressall: function (e, data) {
                    //console.log(data.loaded);
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                },
                /*done: function (e, data) {
                 alert('1');
                 $.each(data.result.files, function (index, file) {
                 $('<p/>').text(file.name).appendTo(document.body);
                 });
                 }*/
            }).on('fileuploadprogress', function (e, data) {
                console.log(data.files);
            });

            function formatFileSize(bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }

                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }

                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }

                return (bytes / 1000).toFixed(2) + ' KB';
            }
            function formatBitrate (bits) {
                if (typeof bits !== 'number') {
                    return '';
                }

                if (bits >= 1000000000) {
                    return (bits / 1000000000).toFixed(2) + ' Gbit/s';
                }

                if (bits >= 1000000) {
                    return (bits / 1000000).toFixed(2) + ' Mbit/s';
                }

                if (bits >= 1000) {
                    return (bits / 1000).toFixed(2) + ' kbit/s';
                }

                return bits.toFixed(2) + ' bit/s';
            }
            function formatTime (seconds) {
                var date = new Date(seconds * 1000),
                    days = Math.floor(seconds / 86400);

                days = days ? days + 'd ' : '';

                return days +
                    ('0' + date.getUTCHours()).slice(-2) + ':' +
                    ('0' + date.getUTCMinutes()).slice(-2) + ':' +
                    ('0' + date.getUTCSeconds()).slice(-2);
            }
            function formatPercentage (floatValue) {
                return (floatValue * 100).toFixed(2) + ' %';
            }
        });
    </script>

{% endblock %}