{% extends '::base.html.twig' %}

{% set statusUserOrderBid = constant('SecureBundle\\Entity\\StatusOrder::STATUS_USER_ORDER_BID') %}
{% set statusUserOrderFinish = constant('SecureBundle\\Entity\\StatusOrder::STATUS_USER_ORDER_FINISH') %}
{% set statusOrderWork = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_WORK_CODE') %}
{% set statusOrderGuarantee = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_GUARANTEE_CODE') %}
{% set statusOrderNew = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_NEW_CODE') %}
{% set statusOrderCompleted = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_COMPLETED_CODE') %}
{% set statusOrderAuction = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_AUCTION_CODE') %}
{% set statusOrderAssigned = constant('SecureBundle\\Entity\\StatusOrder::STATUS_ORDER_ASSIGNED_CODE') %}

{% block head %}
    {% block stylesheets %}
        <!-- <link href="{{ asset('bundles/css/window.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/css/select2.css') }}" rel="stylesheet" />-->
        {#<link href="{{ asset('bundles/css/fontello.css') }}" rel="stylesheet" charset="UTF-8"/>
        <link href="{{ asset('bundles/css/style_orders.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/css/style_order.css') }}" rel="stylesheet">#}
    {% endblock %}
    {% block javascripts %}
      {#  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>#}
        {#<script type="text/javascript" src="{{ asset('bundles/js/bootstrap.js') }}"></script>#}
        <!--<script type="text/javascript" src="{{ asset('bundles/js/jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jquery-ui-1.10.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/jquery-migrate-1.0.0.js') }}"></script>-->
        <!--<script type="text/javascript" src="{{ asset('bundles/js/tinymce/tiny_mce.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/select2.min.js') }}"></script>-->
    {% endblock %}
{% endblock %}

{% block title '' %}

{% block header %}
    <div class="row">
        <div class="col-md-12" style="height:10px">
            <p align="center"></p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <div class="" id="">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href="{{ path('secure_user_homepage') }}">
                            <i class="icon-home"></i> Домой
                        </a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                            <i class="icon-user-6"></i> Профиль
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_profile', {'type': 'view'}) }}">Просмотр</a>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_profile', {'type': 'edit'}) }}">Изменение
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                            <i class="icon-docs"></i> Заказы
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_orders', {'type': 'new'}) }}">Новые</a>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_orders', {'type': 'bid'}) }}">Оцененные</a>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_orders', {'type': 'work'}) }}">На выполнении</a>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_orders', {'type': 'guarantee'}) }}">На гарантии</a>
                                </li>
                                <li>
                                    <a class="accordion-toggle" href="{{ path('secure_user_orders', {'type': 'finish'}) }}">Завершенные</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle"href="{{ path('secure_user_settings', {'type': 'view'}) }}">
                            <i class="icon-cog"></i> Настройки
                        </a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href="{{ path('logout') }}">
                            <i class="icon-logout-1"></i> Выход
                        </a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href="">
                            <i class="icon-help"></i> Помощь
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="">
        <div class="col-md-12" style="height:100px">
            <p align="center"></p>
        </div>
    </div>
{% endblock %}
