{% if order.rawFiles is not empty %}
    <div>
        <p>Файлы</p>
        <table class="table table-striped table-bordered table-responsive" id="order-table-files">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Размер</th>
                <th>Загружен</th>
            </tr>
            </thead>
            <tbody>
            {% for key, file in order.rawFiles %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>
                        <div class="file-icon {{ file.extension | default('default')  }}"></div>
                        <div><a href="{{ file.url }}">{{ file.name }}</a></div>
                    </td>
                    <td>{{ file.size }}</td>
                    <td>{{ file.dateUpload }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}