{% extends "SecureBundle::layout_author.html.twig" %}

{% block title %}{{ 'New orders' }}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block javascripts_head %}
        {{ parent() }}
        <script>
            var dataTableRussianLoc = "{{ asset('json/DataTable/Russian.json') }}";
        </script>
    {% endblock %}

    {% block content %}
        <div class="col-md-12">
            <table id="orders-table" class="display responsive" width="100%">
                <thead>
                <tr>
                    <th>№ заказа</th>
                    <th>Предмет</th>
                    <th>Тип работы</th>
                    <th>Тема работы</th>
                    <th>Выполнение до</th>
                    <th>Max ставка</th>
                    <th>Min ставка</th>
                    <th>Создан</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>№ заказа</th>
                    <th>Предмет</th>
                    <th>Тип работы</th>
                    <th>Тема работы</th>
                    <th>Выполнение до</th>
                    <th>Max ставка</th>
                    <th>Min ставка</th>
                    <th>Создан</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </tfoot>
                <tbody>
                {% for order in orders %}
                    <tr data-id="{{ order.id }}">
                        <td>{{ order.num }}</td>
                        <td>{{ order.subject.childname }}</td>
                        <td>{{ order.type.name }}</td>
                        <td>{{ order.theme }}</td>
                        <td>{{ order.dateexpire|date('d.m.Y H:i') }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.datecreate|date('d.m.Y H:i') }}</td>
                        <td>{{ order.status.code }}</td>
                        <td>
                            <button>Отказаться</button>
                            <button>Скрыть</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#order-modal-window">
                Launch demo modal
            </button>

            {{ include('@Secure/Author/Modal/order-modal.html.twig') }}
        </div>
    {% endblock %}
    {% block javascripts_footer %}
        <script>$(document).ready( function () {
            var selectedOrderId,
                ajaxSpinner = Spinner,
                buttonCommon = {
                    exportOptions: {
                        format: {
                            body: function(data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                return column === 10 ?
                                    //data.replace( /[$,]/g, '' ) :
                                    '' :
                                    data;
                            }
                        }
                    }
                };

                var dataTable = $('#orders-table').DataTable({
                    initComplete: function() {
                        this.api().columns().every( function() {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function() {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search(val ? '^'+val+'$' : '', true, false)
                                        .draw();
                                });
                            column.data().unique().sort().each( function(d, j) {
                                select.append('<option value="'+d+'">'+d+'</option>')
                            });
                        });
                    },
                    searchHighlight: true,
                    select: true,
                    responsive: {
                        details: true
                    },
                    //responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', /*'excel', */'pdf', 'print',
                        $.extend(true, {}, buttonCommon, {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: '0, 1, 2'
                            },
                            addClass: 'compact',
                            text: '<i class="fa fa-file-pdf-o"></i>Excel',
                            message: 'Yo',
                            title: 'title'
                        })
                    ],
                    "language": {
                        "url": dataTableRussianLoc
                    }
                });

                dataTable.on('draw', function() {
                    var body = $(dataTable.table().body());
                    body.unhighlight();
                    body.highlight(dataTable.search());
                });

                var orderModalWindow = $('#modal-order-window');
                orderModalWindow.on('show.bs.modal', function (e) {
                    var modal = $(this);

                    ajaxSpinner.show();
                    hideModalForm();

                    $.get(Routing.generate('secure_get_order_full_info', {
                        orderId: selectedOrderId
                    }), null, function(data) {
                        ajaxSpinner.hide();
                        //console.log(data);
                        modal.find('.modal-title #modal-order-num').text(data.orderData.num);
                        modal.find('.modal-body #modal-order-theme').text(data.orderData.theme);
                        modal.find('.modal-body #modal-order-task').text(data.orderData.task);
                        modal.find('.modal-body #modal-order-date-expire').text(data.orderData.dateExpire);
                        modal.find('.modal-body #modal-order-date-create').text(data.orderData.dateCreate);
                        modal.find('.modal-body #modal-order-remaining').text(data.orderData.remaining);
                        modal.find('.modal-body #modal-order-originality').text(data.orderData.originality);
                        modal.find('.modal-body #modal-order-count-sheet').text(data.orderData.countSheet);
                        modal.find('.modal-body #modal-order-additional-info').text(data.orderData.additionalInfo);

                        var tableBody = modal.find('.modal-body #modal-order-table-files tbody');

                        $.each(data.orderData.files, function(index, file) {
                            tableBody.append(
                                '<tr>' +
                                '<td><a href="' + file.url + '">' + file.name + '</a></td>' +
                                '<td>' + file.size + '</td>' +
                                '<td>' + file.dateUpload + '</td>' +
                                '</tr>'
                            );
                        });

                        var orderUrl = Routing.generate('secure_order_page', {
                            orderId: data.orderData.id
                        });
                        modal.find('.modal-footer #modal-order-link').attr('href', orderUrl);

                        showModalForm();
                    });
                });
                orderModalWindow.on('hidden.bs.modal', function (e) {
                    var modal = $(this);
                    modal.find('.modal-title #modal-order-num').text('');
                    modal.find('.modal-body p').text('');
                    modal.find('.modal-body #modal-order-table-files tbody').empty();
                    modal.find('.modal-footer #modal-order-link').attr('href', '#');
                });

                dataTable.on('click', 'tbody tr', function(e) {
                    /*  if (dataTable.row(this, { selected: true }).any()) {
                     dataTable.row(this).deselect();
                     }*/
                    dataTable.row(this).select();

                    if (!$(this).hasClass('child') && !$(e.target).hasClass('sorting_1')) {
                        selectedOrderId = $(this).data('id');
                        //console.log(dataTable.row(this).data());
                        orderModalWindow.modal('show');
                    }
                });

                function showModalForm() {
                    $('#modal-order-form').show();
                }

                function hideModalForm() {
                    $('#modal-order-form').hide();
                }

                /*  $('a.toggle-vis').on( 'click', function (e) {
                 e.preventDefault();
                 // Get the column API object
                 var column = table.column( $(this).attr('data-column') );
                 // Toggle the visibility
                 column.visible( ! column.visible() );
                 } );*/
            });
        </script>
    {% endblock %}